.header {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, rgba(163, 144, 215, 0.4154) 0%, rgba(227, 220, 246, 0) 100%);
}

.homeTab {
    position: absolute;
    width: 60px;
    height: 27px;
    left: -450px;
    top: 9px;
}

.homeButton {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 500px;
    top: 30px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background: rgba(149, 230, 255, 0.78);
    border-radius: 10px;
}

.homeButton:hover {
    background-color: #D0F4FF;
}

.loginTab {
    position: absolute;
    width: 60px;
    height: 27px;
    left: 408px;
    top: 9px;

    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.loginButton {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 550px;
    top: 30px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background: linear-gradient(180deg, rgba(75, 163, 245, 0.79) 99.99%, rgba(110, 208, 240, 0) 100%);
    border-radius: 10px;
    mix-blend-mode: normal;
}

.loginButton:hover {
    background-color: #9FCBF3;
}

.signupTab {
    position: absolute;
    width: 60px;
    height: 27.13px;
    left: 484px;
    top: 9px;

    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.signupButton {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 600px;
    top: 30px;

    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #D1A1F6;
    border-radius: 10px;
    mix-blend-mode: normal;
}

.signup-button:hover {
    background-color: #E2C1FB;
}

.content {
    position: absolute;
    width: 100%;
    height: 300%;
    left: 0;
    top: 30%;

    background: linear-gradient(180deg, rgba(219, 229, 255, 0) 0%, #DBF9FF 100%);
}

.xinyiIntro {
    position: absolute;
    width: 324px;
    height: 175px;
    left: 500px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.77);
}

.highlight {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 24px;

    color: #8FC2F0;
}

.profileImg {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 80px;
    top: 0;

    padding: 20px; /* Space inside the box */
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Space outside the box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.aboutBox {
    position: absolute;
    width: 90%;
    height: 500px;
    left: 80px;
    top: 400px;

    background: rgba(217, 217, 217, 0.19);
    border-radius: 90px;
}

.aboutText {
    position: absolute;
    width: 435px;
    height: 230px;
    left: 66px;
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;

    color: #000000;
}

.divideAC {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 1000px;

    opacity: 1;
    border: 1.3px solid rgba(0, 0, 0, 0.7);
}

