<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/homeStyle.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="homepage">Home Page</div>
        <label for="team-member"></label>
        <select name="team-member" id="team-member" class="team-member-dropdown" onchange="location = this.value;">
            <option value="">Member Page</option>
            <option value="{{ url_for('xinyi') }}">Xinyi</option>
            <option value="{{ url_for('nathan') }}">Nathan</option>
            <option value="{{ url_for('hannah') }}">Hannah</option>
            <option value="{{ url_for('will') }}">Will</option>
        </select>
        <div class="projectTab">
            <a href="{{ url_for('project') }}" class="projects-button">Projects</a>
        </div>
        {% if 'id' in session %}
            <div class="welcomeText">Welcome, {{ session['user_name'] }}!</div>
            <div class="logoutTab">
                <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            </div>
        {% else %}
            <div class="loginTab">
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
            </div>
        {% endif %}
    </div>
    <div class="content">
        <div class="teamName">Quantum Quokkas</div>

        <div class="xinyiName"><a href="{{ url_for('xinyi') }}">Xinyi Yuan</a></div>
        <div class="xinyiFrame">
            <div class="xinyiIntro">I'm a Computer Science and Engineering student minoring in Math at the University of Iowa,
                skilled in programming languages like Java, Python, and C++. I'm passionate about applying my diverse tech skills
                in software engineering to solve complex challenges.</div>
        </div>

        <div class="hannahName"><a href="{{ url_for('hannah') }}">Hannah Stuppi</a></div>
        <div class="hannahFrame">
            <div class="hannahIntro">Electrical Engineering major with a
                focus in business. Minoring in Business Administration.
            </div>
        </div>

        <div class="willName"><a href="{{ url_for('will') }}">Will Wallace-Smith</a></div>
        <div class="willFrame">
            <div class="willIntro">Computer Science and Engineering major</div>
        </div>

        <div class="natName"><a href="{{ url_for('nathan') }}">Nathan Kofron</a></div>
        <div class="natFrame">
            <div class="natIntro">Electrical Engineering major with a focus in RF electronics</div>
        </div>
    </div>
</body>
</html>