<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/homeStyle.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="homepage">Home Page</div>
    </div>
    <div class="content">
        <div class="teamName">Quantum Quokkas</div>

        <div class="xinyiName">Xinyi Yuan</div>
        <div class="xinyiFrame">
            <div class="xinyiIntro">Computer Science and Engineering major</div>
        </div>

        <div class="hannahName">Hannah Stuppi</div>
        <div class="hannahFrame">
            <div class="hannahIntro">Electrical Engineering major with a
                focus in business. Minoring in Business Administration.
            </div>
        </div>

        <div class="willName">Will Wallace-Smith</div>
        <div class="willFrame">
            <div class="willIntro">Computer Science and Engineering major</div>
        </div>

        <div class="natName">Nathan Kofron</div>
        <div class="natFrame">
            <div class="natIntro">Electrical Engineering major with a focus in RF electronics</div>
        </div>
    </div>
</body>
</html>