<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/homeStyle.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <div class="homepage">Home Page</div>
        <div class="projectTab">
            <a href="{{ url_for('project') }}" class="projects-button">Projects</a>
        </div>
        <div class="loginTab">
            <a href="{{ url_for('login') }}" class="login-button">Login</a>
        </div>
        <div class="signupTab">
            <a href="{{ url_for('signup') }}" class="signup-button">Sign Up</a>
        </div>
    </div>
    <div class="content">
        <div class="teamName">Quantum Quokkas</div>

        <div class="xinyiName"><a href="{{ url_for('xinyi') }}">Xinyi Yuan</a></div>
        <div class="xinyiFrame">
            <div class="xinyiIntro">Computer Science and Engineering major</div>
        </div>

        <div class="hannahName"><a href="{{ url_for('hannah') }}">Hannah Stuppi</a></div>
        <div class="hannahFrame">
            <div class="hannahIntro">Electrical Engineering major with a
                focus in business. Minoring in Business Administration.
            </div>
        </div>

        <div class="willName"><a href="{{ url_for('will') }}">Will Wallace-Smith</a></div>
        <div class="willFrame">
            <div class="willIntro">Computer Science and Engineering major</div>
        </div>

        <div class="natName"><a href="{{ url_for('nathan') }}">Nathan Kofron</a></div>
        <div class="natFrame">
            <div class="natIntro">Electrical Engineering major with a focus in RF electronics</div>
        </div>
    </div>
</body>
</html>