<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <div class="background"></div>
    </div>
    <div class="box">
        <div class="title">Sign In</div>
        <div class="user_text">Email:</div>
        <div class="user_box"></div>
        <div class="pword_text">Password:</div>
        <div class="pword_box"></div>
        <div class="button"></div>
        <div class="button_text">Sign In</div>
        <div class="forgot">Forgot password</div>
        <div class="sign_up_text">Don't have an account?</div>
        <div class="sign_up">
            <a href="{{ url_for('signup') }}">Sign up</a>
        </div>
    </div>
</body>
</html>