<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="header">
        <div class="background"></div>
    </div>
    <div class="box">
        <div class="title">Sign In</div>
        <div class="user_text">Email:</div>
        <label for="email">
            <input type="text" required class="user_box" name="email" id="email">
        </label>
        <div class="pword_text">Password:</div>
        <label for="pword">
            <input type="password" required class="pword_box" name="pword" id="pword">
        </label>
        <button class="button"></button>
        <div class="button_text">Sign In</div>
        <div class="forgot">
            <a href="{{ url_for('forgot') }}">Forgot password</a>
        </div>
        <div class="sign_up_text">Don't have an account?</div>
        <div class="sign_up">
            <a href="{{ url_for('signup') }}">Sign up</a>
        </div>
    </div>
</body>
</html>