<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/nathan.css">
    <title>Nate's Page</title>
</head>
<body>
    <div class="header">
        <div class="homeTab">
            <a href="{{ url_for('home') }}" class="homeButton">Home</a>
        </div>
<!--        <div class="loginTab">-->
<!--            <a href="{{ url_for('login') }}" class="loginButton">Login</a>-->
<!--        </div>-->
<!--        <div class="signupTab">-->
<!--            <a href="{{ url_for('signup') }}" class="signupButton">SignUp</a>-->
<!--        </div>-->
    </div>
    <div class="content">
        <div class="nathanIntro">Hi,<br><br> I'm <span class="highlight">Nathan Kofron</span></div>
        <div class="profileImg">
            <img src="https://github.com/xinyi-yuan/SD_Lab3/blob/main/profilePics/Nate_headshot.jpg?raw=true" width="200px" height="260px" alt="NathanPic">
        </div>
        <div class="aboutBox">
            <div class="aboutText">About me
                <div class="aboutBodyText">
                <p>I have a great deal of hands-on experience from six years in the Air Force as a radio maintenance
                    technician, multiple engineering internships,
                    skill in using test equipment as well as a strong
                    personal interest in circuit design and layout.
                </p>
                </div>
            </div>
        </div>
        <div class="divideAC"></div>
        <div class="contact">
            <div class="contactMe">Contact Me</div>
            <div class="contactBox">
                <label for="fn">
                    <input type="text" class="fnBox" name="firstName" id="fn" placeholder="First Name">
                </label>
                <label for="ln">
                    <input type="text" class="lnBox" name="lastName" id="ln" placeholder="Last Name">
                </label>
                <label for="em">
                    <input type="text" class="emBox" name="email" id="em" placeholder="Email">
                </label>
                <label for="pn">
                    <input type="tel" class="pnBox" name="phoneNum" id="pn" placeholder="Phone Number">
                </label>
                <label for="ms">
                    <textarea class="msBox" name="message" id="ms" placeholder="Message"></textarea>
                </label>
                <button class="sendButton">SEND IT</button>
            </div>
        </div>
        <div class="divideCC"></div>
        <div class="commentBlock">
            <div class="commentBlock">
                <script defer src="https://cdn.commento.io/js/commento.js"></script>
                <div id="commento"></div>
            </div>
        </div>
    </div>
</body>
</html>