<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
    <title>Signup</title>
</head>
<body>
    <div class="signup"></div>
    <div class="background"></div>
    <div class="box">
        <div class="signup">Sign Up</div>
        <div class="email">Email:</div>
        <div class="user_box"></div>
        <div class="pword_text">Password:</div>
        <div class="pword_box"></div>
        <div class="pword2_text">Confirm password:</div>
        <div class="pword2_box"></div>
        <div class="name_text">Display name:</div>
        <div class="name_box"></div>
        <div class="button">
            <a href="{{ url_for('home') }}"</a>
        </div>
        <div class="button_text">Create Account</div>
        <div class="sign_in_text">Already have an account?</div>
        <div class="sign_in">
            <a href="{{ url_for('login') }}">Sign in</a>
        </div>
    </div>
</body>
</html>