<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xinyi's Page</title>
</head>
<body>
    <div class="header">
        <div class="homeTab">
            <div class="homeButton">
                <a href="home.html" class="homeButton">Home</a>
            </div>
            <div class="loginButton">
                <a href="login.html" class="loginButton">Login</a>
            </div>
            <div class="signupTab">
                <a href="signup.html" class="signupButton">SignUp</a>
            </div>
        </div>
    </div>
</body>
</html>